.main {
    margin-top: 10px;
    width: 980px;
    height: 455px;
    margin-left: 220px;   
}
.focus {
    width: 721px;
    height: 455px;
    float: left;
    background-color: purple;
}
.newsflash {
    width: 250px;
    height: 455px;
    float: right;
}
.news_head {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
}
.news_head h5 {
    float: left;
    font-size: 14px;
}
.news_head .more {
    float: right;
}
.news_head .more::after {
    font-family: 'icomoon';
    content: '\e920';
}
.news_body {
    padding: 5px 15px 0;
}
.news_body ul li {
    height: 24px;
    line-height: 24px;
}